* {

  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-decoration: none;
}

:root {
  --text-color: #2c3e50;
  --main-color: #00bc77;
}

footer {
    display: flex;
    justify-content: center;
    border-top: 2px solid #ccc;
    padding: 2rem 0 1.5rem;
  }
  
  .footer-text {
    margin: 0;
    padding: 0;
  }